{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ tool.name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path('trial_tool_show_session', {'event': event.id, 'tool': tool.id, 'session': session.id}) }}" class="btn btn-sm btn-outline-secondary">Essais</a>
                <button type="button" class="generate--pdf btn btn-sm btn-outline-secondary">
                    Générer les QR Codes
                </button>
                <button type="button" class="download--pdf btn btn-sm btn-outline-secondary">
                    Télécharger les QR Codes
                </button>
                <button class="btn btn-sm btn-outline-secondary">Exporter</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-feather="calendar"></span>
                {% if session is null %}
                    {% set s = event.sessions[0] %}
                    Session du {{ s.startDate|date("d/m", "Europe/Paris") }} au {{ s.endDate|date("d/m/Y", "Europe/Paris") }} à {{ s.place }}
                {% else %}
                    Session du {{ session.startDate|date("d/m", "Europe/Paris") }} au {{ session.endDate|date("d/m/Y", "Europe/Paris") }} à {{ session.place }}
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for s in event.sessions %}
                    <a class="dropdown-item" href="{{ path('trial_tool_show_number_plates', {'event': event.id, 'tool': tool.id, 'session': s.id}) }}">Session du {{ s.startDate|date("d/m", "Europe/Paris") }} au {{ s.endDate|date("d/m/Y", "Europe/Paris") }} à {{ s.place }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for n in numberPlates %}
                <tr>
                    <td class="qrcode__parent">
                        {{ n.brand }}
                        <div id="qrcode__{{ n.id }}" class="qrcode__container"
                             data-marque="{{ n.brand }}"
                             data-modele="{{ n.model }}"
                             data-immatriculation="{{ n.numberPlate }}"
                             data-id="{{ n.id }}"
                        >
                            <img id="img__{{ n.id }}" alt="qrcode" />
                        </div>
                    </td>
                    <td>{{ n.model }}</td>
                    <td>{{ n.numberPlate }}</td>
                    <td>
                        <a class="generateOnePDF" href="#">
                            <span class="oi oi-camera-slr" title="icon camera-slr" aria-hidden="true"></span>
                        </a>
                        <a class="downloadOnePDF" href="#">
                            <span class="oi oi-cloud-download" title="icon cloud-download" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      $('.generate--pdf').click(function () {

        $('.qrcode__container').each(function() {
          var obj = { "id": $(this).data('id'), "immatriculation": $(this).data('immatriculation'), "modele": $(this).data('modele'), "brand": $(this).data('brand')};
          var str = JSON.stringify(obj);
          $(this).qrcode({
            width: 100,
            height: 100,
            text: str
          });

          $(this).find('canvas').attr('id', 'canvas__' + $(this).data('id'));
        });

        $('.download--pdf').show();
        $('.generate--pdf').hide();
      });

      $('.download--pdf').click(function () {
        var docp = new jsPDF();
        docp.setFontSize(30);

        $('.qrcode__container').each(function() {

          var canvas = document.getElementById("canvas__" + $(this).data('id'));
          var pdffullname = $(this).data('immatriculation');
          docp.addImage(canvas.toDataURL(), 'JPEG', 55, 98, 100, 100,null,'FAST')

          docp.text(pdffullname, docp.internal.pageSize.width/2, 230, null, null, 'center')
          docp.addPage();
        });

        docp.save('voitures.pdf');

      });

      $('.generateOnePDF').click(function (e) {

        e.preventDefault();

        var qrcodeContainner = $(this).parents('tr').find('.qrcode__container');

        var obj = { "id": qrcodeContainner.data('id'), "immatriculation": qrcodeContainner.data('immatriculation'), "modele": qrcodeContainner.data('modele'), "brand": qrcodeContainner.data('brand')};
        var str = JSON.stringify(obj);
        qrcodeContainner.qrcode({
          width: 100,
          height: 100,
          text: str
        });

        qrcodeContainner.find('canvas').attr('id', 'canvas__' + qrcodeContainner.data('id'));

        $(this).next().show();
        $(this).hide();

      });

      $('.downloadOnePDF').click(function (e) {

        e.preventDefault();

        var qrcodeContainner = $(this).parents('tr').find('.qrcode__container');

        var docp = new jsPDF();
        docp.setFontSize(30);

        var canvas = document.getElementById("canvas__" + qrcodeContainner.data('id'));
        var pdffullname = qrcodeContainner.data('immatriculation');
        docp.addImage(canvas.toDataURL(), 'JPEG', 55, 98, 100, 100,null,'FAST')

        docp.text(pdffullname, docp.internal.pageSize.width/2, 230, null, null, 'center')
        docp.addPage();

        docp.save(pdffullname + '.pdf');
      });
    </script>
{% endblock %}

